<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hurt_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{438,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{438,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,1}</string>
                <key>spriteSize</key>
                <string>{446,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1143,1},{446,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,2}</string>
                <key>spriteSize</key>
                <string>{454,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1153,449},{454,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{448,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{583,449},{448,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,4}</string>
                <key>spriteSize</key>
                <string>{444,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{567,1},{444,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{446,580}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,447},{446,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,4}</string>
                <key>spriteSize</key>
                <string>{460,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,895},{460,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-1}</string>
                <key>spriteSize</key>
                <string>{480,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{567,1361},{480,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-3}</string>
                <key>spriteSize</key>
                <string>{482,560}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1133,1369},{482,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-1}</string>
                <key>spriteSize</key>
                <string>{466,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1357},{466,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,1}</string>
                <key>spriteSize</key>
                <string>{462,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1149,905},{462,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,2}</string>
                <key>spriteSize</key>
                <string>{460,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{577,899},{460,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{1724,1852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28185f02991cf6caaeb57090a9ce8de2:f52a28a37ea96efd2570ec318d5091d8:c824c835982a0baf44dabb892aeea54f$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
