<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoveAttack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{438,566}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{3171,1},{438,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,8}</string>
                <key>spriteSize</key>
                <string>{448,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{3093,579},{448,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,14}</string>
                <key>spriteSize</key>
                <string>{638,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1291,1},{638,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,7}</string>
                <key>spriteSize</key>
                <string>{616,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1255,577},{616,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,16}</string>
                <key>spriteSize</key>
                <string>{620,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{633,577},{620,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,24}</string>
                <key>spriteSize</key>
                <string>{640,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{649,1},{640,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,15}</string>
                <key>spriteSize</key>
                <string>{646,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{646,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,8}</string>
                <key>spriteSize</key>
                <string>{626,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1931,1},{626,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,0}</string>
                <key>spriteSize</key>
                <string>{608,566}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2483,579},{608,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,6}</string>
                <key>spriteSize</key>
                <string>{608,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1873,579},{608,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,14}</string>
                <key>spriteSize</key>
                <string>{610,576}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2559,1},{610,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveAttack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,23}</string>
                <key>spriteSize</key>
                <string>{630,576}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,573},{630,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoveAttack.png</string>
            <key>size</key>
            <string>{3610,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fc530a53740235f0c73a5341dd66ac:8215a735dcdd088f8995435f99cd3ff8:56aa19e981e1e8e1c7c51f3f5b2ef350$</string>
            <key>textureFileName</key>
            <string>MoveAttack.png</string>
        </dict>
    </dict>
</plist>
