<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,0},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,0},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,2100},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,2100},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,2520},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,2520},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,2940},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,2940},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,3360},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,3360},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,420},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,420},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,840},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,840},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,1260},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,1260},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,1680},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,1680},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Move.png</string>
            <key>size</key>
            <string>{880,3780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed2c7d340bcdbadf9c28b3079060b59:9299e4f17c63d85d89bb7d586423b6cc:3b5e78f4111298c100cece757e9a5f23$</string>
            <key>textureFileName</key>
            <string>Move.png</string>
        </dict>
    </dict>
</plist>
