<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{326,338}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,685},{326,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{314,338}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{273,1},{314,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{270,340}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,343},{270,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{270,336}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{873,679},{270,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{270,334}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1145,673},{270,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{270,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1451,1},{270,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{272,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1417,671},{272,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{284,334}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{889,337},{284,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{298,336}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{589,1},{298,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{312,338}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{273,341},{312,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{300,336}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{587,341},{300,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{286,334}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{889,1},{286,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{272,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1177,1},{272,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{270,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1447,333},{270,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{270,332}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1175,337},{270,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{270,336}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{601,679},{270,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{270,338}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{329,681},{270,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{270,340}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Move.png</string>
            <key>size</key>
            <string>{1722,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a8640495af3f181fb218581aea43515:f53d5c712d112cecc8e9e9c8227a6b42:3b5e78f4111298c100cece757e9a5f23$</string>
            <key>textureFileName</key>
            <string>Move.png</string>
        </dict>
    </dict>
</plist>
