<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1800,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{2400,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1800,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{2400,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1800,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{2400,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dead.png</string>
            <key>size</key>
            <string>{3000,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a338e93949e904ef1cc9d863c798b589:7243bd39fd01ca7ac2fbd89be42e1e4c:78c29c9bc0794dd30c76ea6b8f0c5218$</string>
            <key>textureFileName</key>
            <string>Dead.png</string>
        </dict>
    </dict>
</plist>
