<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Smoke_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{218,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{225,559},{218,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Smoke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{222,210}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,559},{222,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{238,236}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{433,547},{238,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{242,240}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{673,543},{242,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{280,266}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{291,279},{280,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{282,268}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{579,273},{282,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{284,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{579,1},{284,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{286,276}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,281},{286,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{286,276}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{291,1},{286,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{288,278}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Smoke.png</string>
            <key>size</key>
            <string>{916,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4498bd9b92873f9ddc6031bb8de71513:42d60b65240f9928a06680782c009c86:8019d581167556a34f1707b716b54d6c$</string>
            <key>textureFileName</key>
            <string>Smoke.png</string>
        </dict>
    </dict>
</plist>
