<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,0},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,0},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{880,840},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1320,840},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{880,0},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1320,0},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,420},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,420},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{880,420},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1320,420},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{0,840},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{440,840},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{1760,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b5aa803598778684b92e2613f87cc3:2c3122fda2cf5b57cfb2642d11e9a686:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
