<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,1440},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,1440},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack.png</string>
            <key>size</key>
            <string>{1800,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:013c47f91e0feb37a12dc74b49c640dc:3f7e8927e6d252d07b3a9adee9d3429f:55e7a9d3303152ed3444dcc2f62c4456$</string>
            <key>textureFileName</key>
            <string>Attack.png</string>
        </dict>
    </dict>
</plist>
