<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{438,566}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1341},{438,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,8}</string>
                <key>spriteSize</key>
                <string>{440,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1151,1339},{440,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{450,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{579,443},{450,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{444,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{577,895},{444,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{440,572}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,897},{440,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{446,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,449},{446,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{450,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1155,445},{450,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{442,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1157,1},{442,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{438,566}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{569,1341},{438,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{440,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1151,897},{440,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,14}</string>
                <key>spriteSize</key>
                <string>{440,576}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{579,1},{440,576}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Move_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,23}</string>
                <key>spriteSize</key>
                <string>{446,576}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,576}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Move.png</string>
            <key>size</key>
            <string>{1726,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7182041919a6439140278771b9c97b23:9a68805a3e8e90f23690260f4a8d9794:3b5e78f4111298c100cece757e9a5f23$</string>
            <key>textureFileName</key>
            <string>Move.png</string>
        </dict>
    </dict>
</plist>
