<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{282,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{335,1},{282,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{286,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{667,1},{286,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{332,292}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,275},{332,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-63}</string>
                <key>spriteSize</key>
                <string>{332,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-63}</string>
                <key>spriteSize</key>
                <string>{332,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-63}</string>
                <key>spriteSize</key>
                <string>{332,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-63}</string>
                <key>spriteSize</key>
                <string>{332,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{294,328}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{335,285},{294,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{306,324}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{665,289},{306,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{320,338}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{655,597},{320,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,18}</string>
                <key>spriteSize</key>
                <string>{322,354}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{325,919},{322,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,23}</string>
                <key>spriteSize</key>
                <string>{324,354}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{681,919},{324,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{320,324}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{329,581},{320,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{322,322}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,885},{322,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-34}</string>
                <key>spriteSize</key>
                <string>{314,326}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,569},{314,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dead.png</string>
            <key>size</key>
            <string>{1006,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5e5887503d957ae917c409005b823be:0855a5bc7142f1cbe5005875ec16041e:78c29c9bc0794dd30c76ea6b8f0c5218$</string>
            <key>textureFileName</key>
            <string>Dead.png</string>
        </dict>
    </dict>
</plist>
