<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{448,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1699,569},{448,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{448,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1703,1139},{448,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{107,2}</string>
                <key>spriteSize</key>
                <string>{592,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{571,1},{592,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,2}</string>
                <key>spriteSize</key>
                <string>{598,570}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,625},{598,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,2}</string>
                <key>spriteSize</key>
                <string>{622,568}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{622,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,1}</string>
                <key>spriteSize</key>
                <string>{590,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{573,595},{590,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,-3}</string>
                <key>spriteSize</key>
                <string>{566,556}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1,1225},{566,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,-3}</string>
                <key>spriteSize</key>
                <string>{566,556}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{569,1225},{566,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,-3}</string>
                <key>spriteSize</key>
                <string>{566,556}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1699,1},{566,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,-3}</string>
                <key>spriteSize</key>
                <string>{566,556}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1141,1},{566,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{134,-3}</string>
                <key>spriteSize</key>
                <string>{564,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1139,595},{564,558}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,0}</string>
                <key>spriteSize</key>
                <string>{582,564}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1137,1187},{582,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack.png</string>
            <key>size</key>
            <string>{2256,1782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0489c89b222dfe312a4369d114e9440:77c2990a43616b711f40ea2f758bc9d0:55e7a9d3303152ed3444dcc2f62c4456$</string>
            <key>textureFileName</key>
            <string>Attack.png</string>
        </dict>
    </dict>
</plist>
