<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{282,330}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1079,1},{282,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{324,336}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1079,285},{324,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-17}</string>
                <key>spriteSize</key>
                <string>{348,318}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{381,1},{348,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{316,324}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{719,335},{316,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-6}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,631},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{336,342}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1035,653},{336,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{336,344}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{373,321},{336,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{334,344}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{689,659},{334,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{332,346}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{731,1},{332,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{344,334}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{343,659},{344,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-20}</string>
                <key>spriteSize</key>
                <string>{378,314}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{378,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-21}</string>
                <key>spriteSize</key>
                <string>{370,312}</string>
                <key>spriteSourceSize</key>
                <string>{440,420}</string>
                <key>textureRect</key>
                <string>{{1,317},{370,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack.png</string>
            <key>size</key>
            <string>{1410,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0c73b9b5d45260b88ffe4be2b25165e:41eae8a8d34a73bc8fa0b994a0d3953f:55e7a9d3303152ed3444dcc2f62c4456$</string>
            <key>textureFileName</key>
            <string>Attack.png</string>
        </dict>
    </dict>
</plist>
