<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,1440},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,1440},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{1800,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a5d8c214246402bc7cda3d165e289d:e6252cbbb5c7749a6a7b29c9fe9a0ed4:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
