<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{2400,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{3000,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1800,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{2400,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{3000,960},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1800,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{2400,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{3000,0},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{600,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1200,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Move_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,480}</string>
                <key>spriteSourceSize</key>
                <string>{600,480}</string>
                <key>textureRect</key>
                <string>{{1800,480},{600,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Move.png</string>
            <key>size</key>
            <string>{3600,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15abdc66ce96c4122a6a81c386de0a54:1dc8028d1c2a7e5d9e91a60c6f20563c:3b5e78f4111298c100cece757e9a5f23$</string>
            <key>textureFileName</key>
            <string>Move.png</string>
        </dict>
    </dict>
</plist>
